body {
  background-color: #0f2f25;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:60px;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("/green-forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.todo-container {
  background-color: #A8C9A3;
  width: 550px;
  max-width: 500px;
  padding: 35px;
  border-radius: 20px;
  backdrop-filter: blur(80px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
button {
  padding: 10px;
  background-color: #C58940;
  border: none;
  cursor: pointer;
}
input {
  padding: 10px;
  border-radius: 8px;
  height: 20px;
}
.input-section {
  display: flex;
  gap: 10px;
}

.input-section input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
}
.input-section button {
  padding: 12px 20px;
  font-size: 16px;
}
.actions button {
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px; 
}
.actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}
.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color:#6b4f3a;
  text-align: center;
  font-size: 50px;

}

li {
  color: #6b4f3a;
  font-size: 32px;
}
button {
  color: #C58940;
  background-color:blanchedalmond ;
  border-radius: 10px;

}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-all-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.task-text {
  text-align: center;
  font-size: 23px;
  color: #5b4636;
  margin-top: 20px;
  font-weight: 500;
}